*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  @extend %smart-focus-outline;

  color: $studio-simplenote-blue-50;
}

/* stylelint-disable block-opening-brace-space-before */
a[href^='http://'],
a[href^='https://']
{
  cursor: pointer; // Make all web links use pointer cursor
}
/* stylelint-enable block-opening-brace-space-before */

html,
body {
  height: 100%;
  user-select: none;
}

body {
  margin: 0;
  font: 14px/1.5 $sans;
  overflow: hidden;
  -webkit-touch-callout: none;
}

img,
svg {
  vertical-align: middle;
}

b,
strong,
optgroup {
  font-weight: $bold;
}

[contenteditable] {
  user-select: text; // Safari (https://stackoverflow.com/questions/20435166)
}

.app {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.simplenote-app {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}
.mac-title-bar {
  background-color: #f4f4f4;
  height: 28px;
  -webkit-app-region: drag;
}

.mac-title-bar + .app {
  top: 28px;
}

.login__draggable-area {
  height: 100px;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-app-region: drag;
}

.gridicon {
  fill: currentColor;
}

.search-match {
  background-color: $studio-simplenote-blue-5;
  border-radius: 3px;
  padding-left: 2px;
  padding-right: 2px;

  &[data-current-match='true'] {
    background-color: $studio-yellow-60;
  }
}

body[data-theme='dark'] .search-match {
  background-color: rgba($studio-simplenote-blue-50, 0.4);
  color: $studio-white;
}
