@use 'variables' as *;

@mixin react-transition-fade-in {
  &-enter {
    opacity: 0;
  }

  &-enter-done {
    opacity: 1;
    transition: opacity 0.2s ease-out;
  }
}

@mixin react-transition-fade-out {
  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;
    transition: opacity 0.2s ease-out;
  }
}
