// Turn on custom scrollbar
::-webkit-scrollbar {
  width: 14px;
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $studio-gray-10;
  border-radius: 100px;
  border: 4px solid $studio-white;
}
// hover effect for scrollbar 'thumb'
::-webkit-scrollbar-thumb:hover {
  background-color: $studio-gray-20;
}
::-webkit-scrollbar-thumb:active {
  background: $studio-gray-30;
  border-radius: 100px;
}
