$sans: -apple-system, 'Segoe UI', 'Roboto', 'Oxygen-Sans', 'Ubuntu', 'Cantarell',
  'Helvetica Neue', sans-serif;
$bold: 600;
$light: 300;

$anim-transition: all 200ms ease-in-out;
$anim-fast: all 0.1s ease-in-out;
$anim: all 0.2s ease-in-out;

$fade-alpha: 0.25;

$border-radius: 3px;

$focus-outline: 4px auto $studio-simplenote-blue-5;

// Global Measurements

$navigation-bar-width: 260px;
$note-list-width: 380px;
$max-content-width: 650px;
$toolbar-height: 44px;

// Viewport widths for media queries
$single-column: 750px;
$medium: 900px;

// Theme color variables

:root,
body[data-theme='light'] {
  --background-color: #fff; // $studio-white
  --foreground-color: #646970; // $studio-gray-50
  --primary-color: #2c3338; // $studio-gray-80
  --secondary-color: #dcdcde; // $studio-gray-5
  --tertiary-color: #a7aaad; // $studio-gray-20
  --accent-color: #3361cc; // $studio-simplenote-blue-50
  --secondary-accent-color: #c3c4c7; // $studio-gray-10
  --highlight-color: #ced9f2; // $studio-simplenote-blue-5
  --secondary-highlight-color: #f6f7f7; // $studio-gray-0;
  --tertiary-highlight-color: #d63638; // $studio-red-50
  --overlay-color: rgba(0, 0, 0, 0.2); // black with 20% opacity
  --search-selection-color: #f0c930; // $studio-yellow-20
  --wordpress-color: #006088; // $studio-wordpress-blue-50
  --active-controls-color: #1ed15a; // $studio-green-20
  --warning-highlight-color: #faa754; // $studio-orange-20
}

body[data-theme='dark'] {
  --background-color: #1d2327; // $studio-gray-90
  --foreground-color: #a7aaad; // $studio-gray-20
  --primary-color: #fff; // $studio-white
}
