$sans: -apple-system, 'Segoe UI', 'Roboto', 'Oxygen-Sans', 'Ubuntu', 'Cantarell',
  'Helvetica Neue', sans-serif;
$bold: 600;
$light: 300;

$anim-transition: all 200ms ease-in-out;
$anim-fast: all 0.1s ease-in-out;
$anim: all 0.2s ease-in-out;

$fade-alpha: 0.25;

$border-radius: 3px;

$focus-outline: 4px auto $studio-simplenote-blue-5;

// Global Measurements

$navigation-bar-width: 260px;
$note-info-width: 320px;
$max-content-width: 625px;
$toolbar-height: 56px;

// Viewport widths for media queries
$single-column: 750px;
$medium: 900px;
