.about {
	.dialog-box {
		position: relative;
		max-width: 472px;
	}

	.dialog-content {
		padding: 30px 20px 20px;
	}

	a {
		color: white;
		text-decoration: none;
	}
}

.theme-light,
.theme-dark {
 .about .dialog-box {
	 background: $blue;
	 color: white;
 }
}

.about-top {
	margin-bottom: 40px;
	text-align: center;

	svg {
		display: block;
		margin: 0 auto 10px;
	}

	h1 {
		margin: 0;
		line-height: 1.25em;
		font-size: 250%;
		font-weight: $light;
	}

	small {
		font-size: 90%;
	}
}

.about-links {
	max-width: 315px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	line-height: normal;

	li {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid rgba($white, 0.25);

		&:first-child {
			border-top: 1px solid rgba($white, 0.25);
		}
	}

	a {
		display: block;
		width: 100%;
		padding: 10px 2px;
	}
}

.about-links-title {
	font-size: 143%;
	font-weight: $light;
}

.about-bottom {
	margin-top: 50px;
	font-size: 90%;
	text-align: center;

	p {
		margin: 0.25em 0;
	}
}

.about .about-done {
	position: absolute;
	top: 0;
	right: 0;
	padding: 20px;

	& svg, &:active svg {
		fill: white;
	}
}
