@import "utils";

body {
  margin: 0;
  font: 14px/1.5 helvetica-neue, helvetica, arial, sans-serif;
  overflow: hidden;
}

.simplenote-app {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include flexbox(flex-start, stretch);
}

.source-list, .detail {
  @include flexbox(flex-start, stretch, column);
}

.source-list {
  min-width: 120px;
  @include flex(1, 1, 200px);
  border-right: 1px solid #E0E0E0;
  cursor: default;
}

.note-list {
  &:focus {
    outline: none;
  }

}

.source-list-item {
  padding: 8px;

  &.selected {
    background: hsla(140, 20%, 95%, 1.0);
    
    :focus & {
      background: hsla(140, 75%, 85%, 1.0);
    }
  }
}

.detail {
  @include flex(1, 1, 75%)
}

.title, .preview {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.preview {
  color: #999;
}

.toolbar, .toolbar-compact {
  @include flex(0, 0, 44px);
  border-bottom: 1px solid #E0E0E0;
  position: relative;
}

.toolbar-compact {
  @include flex(0, 0, 36px);
}

.editor-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.editor {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 24px 48px;
  border: none;
  font: 14px/1.5 helvetica-neue, helvetica, arial, sans-serif;
  color: #666;
  background: #F2F2F2;
  transition: 200ms;
  -webkit-transition: 200ms;
  resize: none;

  &:focus {
    color: #000;
    outline: none;
    background: #FFF;
  }

}

.panel {
  @include flex(1, 0);
  position: relative;
}

.note-list {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.tag-editor {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0 8px 0 4px;
  @include flexbox(flex-start, center);
  overflow: auto;

  &:focus {
    outline: none;
  }

}

.tag-chip {
  margin: 2px;
  padding: 1px 4px;
  cursor: default;
  color: hsla(150, 50%, 50%, 1);
  border-radius: 2px;
  white-space: nowrap;
  @include flex(0, 0);

  &.selected {
    border: 1px solid hsla(150, 0%, 90%, 1);
    padding: 0 3px;
    background: hsla(150, 0%, 95%, 1);
  }

}

.tag-field {
  margin: 4px 6px;
  @include flex(1, 0);

  input {
    width: 100%;
    min-width: 140px;
    border: none;
    outline: none;
    font: 14px/1.5 helvetica-neue, helvetica, arial, sans-serif;
  }

}