// Resets button styles
button {
	background: transparent;
	border: none;
	outline: 0;
	padding: 0;
	cursor: default;
	font-size: 14px;
	-webkit-appearance: none;
	appearance: none;
	vertical-align: baseline;
}

.basic-button,
.segmented-control-item,
.primary-button,
.icon-button,
.text-button {
	display: inline-block;
	box-sizing: border-box;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0;
	outline: 0;
	overflow: hidden;
	text-decoration: none;
	vertical-align: top;
	transition: $anim-fast;
	-webkit-tap-highlight-color: transparent;
}

// Rectangle buttons
.basic-button {
	background: transparent;
	border-color: $blue;
	border-style: solid;
	border-width: 1px;
	color: $blue;
	font-size: 14px;
	line-height: 21px;
	border-radius: 3px;
	padding: 0.6em 14px;

	&:active {
		background: $blue;
		color: $white;
	}
	&[disabled],
	&:disabled {
		color: $gray;
		border-color: $blue;
	}
}

// Pill buttons
.segmented-control {
	display: flex;
	flex-direction: row;

	.segmented-control-item {
		border-radius: 0;
		border-left-width: 0;

		&:first-child {
			border-left-width: 2px;
			border-radius: 4px 0 0 4px;
		}

		&:last-child {
			border-radius: 0 4px 4px 0;
		}
	}
}
.segmented-control-item {
	height: 2em;
	padding: 0 14px;
	border: 2px solid $blue;
	border-radius: 4px;
	line-height: 1.25em;
	font-size: 100%;
	text-align: center;
	color: $blue;
	background: transparent;

	&:active, &.active {
		color: $white;
		background: $blue;
	}

	&:disabled, &[disabled] {
		border-color: $blue;
		color: $gray;
	}
}

// Primary buttons
.primary-button {
	padding: 8px;
	background: $blue;
	border: 1px solid $blue;
	border-radius: $border-radius;
	color: white;
	line-height: normal;
	font-weight: bold;
	font-size: 125%;
}

// Icon only buttons
.icon-button {
	svg[class^="icon-"] {
		fill: $gray;
	}

	&:active {
		svg[class^="icon-"] {
			fill: $blue;
		}
	}

	&[disabled], &:disabled {
		svg[class^="icon-"] {
			fill: lighten($gray, 30%);
		}
	}
}

// Text buttons (may contain icon)
.text-button {
	 color: $blue;

	 &:active {
		 color: darken($blue, 15%);
		 
		 svg[class^="icon-"] {
			 fill: $blue; // Make sure the icon stays $blue if active
		 }
	 }
	 &[disabled],
	 &:disabled {
		 color: lighten($gray, 20%);
	 }
}

.compact-button {
	padding: 0.3em 18px;
	line-height: 1.25em;
	font-size: 90%;
}

.danger-button {
	color: $red;
	border-color: $red;
	font-weight: 600;
}
