
.note-editor {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background: $white;

	.note-editor-controls {
		flex: none;
		border-bottom: 1px solid lighten($gray, 30%);
		border-left: 1px solid lighten($gray, 30%);
	}

	.note-editor-content {
		flex: 1 1 auto;
	}
}

.revisions {
	.revision-selector {
		top: 0 !important;
	}

	.note-editor-content {
		padding-top: 51px !important;
	}

	.note-editor-mode-bar {
		display: none !important;
	}
}

.markdown {
	.note-editor-content {
		transition: none !important;
	}
}

.note-editor-controls {
	display: flex;
	justify-content: flex-end;
	height: $toolbar-height;

	.tag-editor {
		flex: 1 1 auto;
		border-left: 1px solid lighten($gray, 30%);
	}

	.note-toolbar {
		flex: none;
	}
}

.note-toolbar {
	display: flex;
	align-items: center;
	padding: 0 15px;

	@media only screen and ( max-width: $single-column ) {
		width: 100%;
		justify-content: space-between;
	}

	.note-toolbar-icon, .note-toolbar-text {
		flex: none;
		margin-right: 14px;
		text-align: center;

		&:last-child {
			margin-right: 0;
		}
	}

	.note-toolbar-icon {
		width: 32px;
		height: 32px;

		button {
			width: 100%;
			height: 100%;
			padding: 0;
		}
	}

	.note-toolbar-back {
		display: none;

		@media only screen and ( max-width: $single-column ) {
			display: flex;
		}
	}
}

.note-toolbar-trashed {
	display: flex;
	align-items: center;
	padding: 10px 16px;
	justify-content: flex-end;

	.note-toolbar-text {
		margin: 0 0 0 16px;
	}

	.basic-button, .button-primary {
		border-width: 2px;
	}
}

.note-editor-content {
	display: flex;
	flex-direction: column;
	border-left: 1px solid lighten($gray, 30%);
	padding-top: 0;
	transition: all .3s ease-in-out;
}

.note-editor-mode-bar {
	flex: none;
	margin: 0 auto;
	padding-top: 24px;
	display: flex;
	justify-content: center;
	transition: all .3s ease-in-out;

	.button-segmented-control {
		width: 5.75em;
	}
}

.note-editor-detail {
	flex: 1 1 auto;
	overflow: hidden;
	position: relative;

	.note-detail {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
}

.note-detail-textarea, .note-detail-markdown, .note-print {
	width: 100%;
	height: 100%;
	max-width: 780px;
	padding: 24px 48px;
	border: none;
	line-height: 1.5em;
	font-size: 16px;
	color: darken($gray, 20%);
	background: $white;
	resize: none;
	-webkit-tap-highlight-color: transparent;

	&:focus {
		outline: none;
	}

	@media only screen and ( max-width: $medium ) {
		padding: 24px;
	}
}

.note-detail-textarea {
	min-height: 100%;
	cursor: text;

	div, span {
		cursor: inherit;
	}

	&::first-line {
 		font-size: 120%;
	}
}

.note-detail-markdown {
	overflow: visible;
	-webkit-overflow-scrolling: touch;

	p {
		margin: 0 0 1.5em;
	}

	a {
		cursor: pointer;
		overflow-wrap: break-word;
		word-wrap: break-word;
	}

	img {
		max-width: 100%;
		height: auto;
	}
}
