
.note-editor {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background: $white;

	.note-toolbar {
		flex: none;
	}

	.tag-editor {
		flex: none;
		border-bottom: 1px solid lighten($gray, 30%);
	}

	.note-editor-detail {
		flex: 1 1 auto;
	}
}

.note-toolbar {
	display: flex;
	align-items: center;
	padding: 10px 8px;

	.note-toolbar-icon, .note-toolbar-text {
		flex: none;
		margin: 0 8px 0 0;
		text-align: center;
	}

	.note-toolbar-icon {
		width: 28px;
		height: 28px;

		button {
			width: 100%;
			height: 100%;
		}
	}

	.note-toolbar-space {
		flex: 1 1 auto;
		visibility: hidden;
	}

	.note-toolbar-back {
		display: none;

		@media only screen and ( max-width: 520px ) {
			display: flex;
		}
	}
}

.note-editor-mode-bar {
	margin: 0 auto;
	padding: 20px 10px;

	.pill-button {
		width: 5.75em;
		padding-left: 0;
		padding-right: 0;
	}
}

.note-editor-detail {
	position: relative;

	.note-detail {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
}

.note-detail-textarea, .note-detail-markdown {
	width: 100%;
	height: 100%;
	max-width: 780px;
	padding: 24px 48px;
	border: none;
	line-height: 1.5em;
	font-size: 14px;
	color: darken($gray, 20%);
	background: $white;
	resize: none;
	-webkit-tap-highlight-color: transparent;

	&:focus {
		outline: none;
	}
}

.note-detail-textarea {
	overflow: hidden;
	cursor: text;
}

.note-detail-markdown {
	overflow: visible;
	-webkit-overflow-scrolling: touch;

	p {
		margin: 0 0 1.5em;
	}

	a {
		cursor: pointer;
	}

	img {
		max-width: 100%;
		height: auto;
	}
}
