*, 
*:before, 
*:after {
	cursor: default; // Make everything use default cursor
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	font: 14px/1.5 $sans;
	overflow: hidden;
	-webkit-touch-callout: none;

	@media only screen and ( max-width: 520px ) {
		font-size: 16px;
	}
}

img, svg {
	vertical-align: middle;
}

a {
	color: $blue;
}

.app {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.simplenote-app {
	display: flex;
	position: relative;
	width: 100%;
	height: 100%;
	transform: translateX(0px);
	transition: transform 200ms ease-in-out;

	&.note-info-open {
		transform: translateX(-$note-info-width);
	}

	&.navigation-open {
		transform: translateX($navigation-bar-width);
	}

	.note-editor {
		flex: 1 1 auto;
	}

	@media only screen and ( max-width: 520px ) {
		.note-editor {
			flex: 1 0 100%;
			width: 100%;
			transition: $anim-transition;
			transform: translate3d(0, 0, 0);
		}

		&.note-open .note-editor {
			transform: translate3d(-100%, 0, 0);
			transition-property: transform;
		}
	}
}

.panel-title {
	margin: 0;
	text-transform: uppercase;
	font-size: 86%;
	color: darken($gray, 20%);
}

/* Fade content when toolbars are visible */
.note-info-open {
	.note-editor, .source-list {
		opacity: $fade-alpha;
		transition: $anim;
		pointer-events: none;
	}
}

.navigation-open {
	.note-editor, .source-list {
		opacity: $fade-alpha;
		transition: $anim;
		pointer-events: none;
	}
}

