input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

input {
	-webkit-tap-highlight-color: transparent;
}

.transparent-input {
	color: inherit;
	background-color: transparent;

	&::placeholder {
		color: $gray;
	}
}

.focus-guard {
	position: absolute;
	left: -100px;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	opacity: 0;
	overflow: hidden;
	pointer-events: none;
}
