input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input {
  -webkit-tap-highlight-color: transparent;

  &::placeholder {
    color: var(--placeholder-color);
    opacity: 1;
  }

  &::-ms-clear {
    display: none;
  }

  // Make sure inputs that are readonly (i.e. tag list) are not selectable
  &[readonly] {
    user-select: none;
  }
}

.transparent-input {
  color: inherit;
  background-color: transparent;
}
