.login {
	flex: 1 1 auto;
	display: flex;
	overflow: auto;
	-webkit-overflow-scrolling: touch;

	.login-form {
		flex: 1 1 auto;
		max-width: 320px;
		margin: auto;
		padding: 10px;
	}

	.login-logo {
		margin-bottom: 50px;
		text-align: center;

		svg {
			fill: $blue;
		}
	}

	.login-fields {
		border: 1px solid lighten($gray, 30%);
		border-radius: 2px;
	}

	.login-field {
		display: flex;
		align-items: center;
		padding: 1px;
		border-bottom: 1px solid lighten($gray, 30%);

		&:last-child {
			border-bottom: none;
		}

		.login-field-label {
			flex: none;
			width: 7.5em;
			padding: 8px 12px;
			font-size: 13px;
			font-weight: 600;
			letter-spacing: 0.075em;
			text-transform: uppercase;
			color: $gray;
		}

		.login-field-control {
			flex: 1 1 auto;
		}

		input {
			box-sizing: border-box;
			width: 100%;
			height: 2em;
			line-height: 1.5em;
			padding: 0.25em 0.15em;
			border: none;
			font-size: 143%;
			font-weight: 300;
			color: $gray-darkest;
		}

		input:focus {
			position: relative;
			z-index: 1;
			outline: none;
		}
	}

	.login-actions {
		margin-top: 22px;
		text-align: center;
		color: $gray;
	}

	.primary-button {
		width: 100%;
	}

	.login-forgot {
		a {
			color: inherit;
			text-decoration: none;
		}
	}

	.login-signup {
		margin-top: 6.5em;

		@media only screen and ( max-height: 800px ) {
			margin-top: 1em;
		}

		a {
			font-weight: 600;
		}
	}
}
