.note-detail-markdown {
	@import "../node_modules/highlight.js/styles/solarized-light.css";

	user-select: all;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1.15;
	}

	h1 {
		font-weight: $light;
	}
	h5,
	h6 {
		text-transform: uppercase;
	}

	hr {
		border: 0;
		border-top: 1px solid lighten($gray, 20%);
	}

	blockquote {
		font-style: italic;
		border-left: 4px solid lighten($gray, 20%);
		margin-left: 0;
		padding-left: 1em;
	}

	code {
		font-size: 85%;
		background: $gray-lightest;
	}
	pre {
		border: 1px solid lighten($gray, 20%);
		padding: 1em;
		border-radius: $border-radius;
	}
	pre code {
		color: darken($gray, 10%);
		background: transparent;
	}
}
