.note-list {
	display: none;
	flex-direction: column;
	width: $note-list-width;
	height: calc( 100% - #{ $toolbar-height * 2 } );
	flex: 1 1 auto;
	overflow: hidden;
	border-right: 1px solid lighten($gray, 30%);

	.layout-has-note-list & {
		display: flex;
		@media only screen and ( max-width: $medium ) {
			width: $note-list-small-width;
		}

		@media only screen and ( max-width: $navigation-bar-width + $note-list-small-width ) {
			width: auto;
		}

		@media only screen and ( max-width: $single-column ) {
			width: 100%;
		}
	}

	@media only screen and ( max-width: $single-column ) {
		display: flex;
		height: calc( 100% - #{ $toolbar-height } );
		border: none;
	}

	.condensed .note-list-item-excerpt {
		display: none;
	}

	.expanded .note-list-item-excerpt {
		white-space: normal;
		max-height: 88px;
	}
}

.note-list-items {
	flex: 1 1 auto;
	overflow: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

.note-list-empty-trash {
	flex: none;
	padding: 10px 20px;
	border-top: 1px solid lighten($gray, 30%);
	text-align: center;
}

.note-list-item {
	display: flex;
	padding-left: 8px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	.note-list-item-pinner {
		flex: none;
		height: 14px;
		width: 14px;
		margin-right: 8px;
		margin-top: 14px;
		border-radius: 50%;

		&:focus {
			outline: none;
		}
	}

	&:hover .note-list-item-pinner {
		box-shadow: inset 0 0 0 2px lighten($gray, 30%), inset 0 0 0 3px $white;

		&:hover {
			background: lighten($gray, 10%);
		}
	}

	&.note-list-item-pinned .note-list-item-pinner {
		background: $gray-darkest;
		box-shadow: inset 0 0 0 2px lighten($gray, 20%), inset 0 0 0 3px $white;

		&:hover {
			background: lighten($gray, 30%);
		}
	}

	&.note-list-item-pinned.note-list-item-selected .note-list-item-pinner {
		background: $blue;
		box-shadow: inset 0 0 0 2px lighten($blue, 25%), inset 0 0 0 3px $white;

		&:hover {
			background: darken($blue, 10%);
		}
	}

	.note-list-item-text {
		flex: 1 1 auto;
		overflow: hidden;
		padding: 9px 0;
		border-bottom: 1px solid lighten($gray, 30%);

		&:focus {
			outline: none;
		}
	}

	.note-list-item-title, .note-list-item-excerpt {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	&.note-list-item-selected {
		.note-list-item-title, .note-list-item-excerpt {
			color: $blue;
		}
	}

	.note-list-item-title {
		font-size: 16px;
	}

	.note-list-item-excerpt {
		color: $gray;
	}
}
