.source-list {
	width: 328px;
	background: $white;
	display: flex;
	flex-direction: column;
	transition: transform 200ms ease-in-out;

	@media only screen and ( max-width: $single-column ) {
		flex: 0 0 100%;
		transform: translate3d(0, 0, 0);

		.note-open & {
			transform: scale3d(0.95, 0.95, 1);
		}
	}

	.search-bar {
		flex: none;
	}

	.note-list {
		flex: 1 1 auto;
		overflow: hidden;
	}
}

.search-bar {
	height: 4.5em;
	padding: 20px 15px;
	border-bottom: 1px solid lighten($gray, 30%);
	display: flex;
	justify-content: space-between;
	align-items: center;

	.button {
		flex: none;
		padding: 0;
		width: 32px;
		height: 32px;
	}

	.search-field {
		margin: 0 12px;
		flex-grow: 1;
	}
}

.note-list {
	display: flex;
	flex-direction: column;
}

.note-list-items {
	flex: 1 1 auto;
	overflow: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

.note-list-empty-trash {
	flex: none;
	padding: 10px 20px;
	border-top: 1px solid lighten($gray, 30%);
	text-align: center;
}

.note-list-item {
	display: flex;
	padding-left: 8px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	.note-list-item-pinner {
		flex: none;
		height: 14px;
		width: 14px;
		margin-right: 8px;
		margin-top: 17px;
		border-radius: 50%;

		&:focus {
			outline: none;
		}
	}

	&:hover .note-list-item-pinner {
		box-shadow: inset 0 0 0 2px lighten($gray, 30%), inset 0 0 0 3px $white;

		&:hover {
			background: lighten($gray, 10%);
		}
	}

	&.note-list-item-pinned .note-list-item-pinner {
		background: $gray-darkest;
		box-shadow: inset 0 0 0 2px lighten($gray, 20%), inset 0 0 0 3px $white;

		&:hover {
			background: lighten($gray, 30%);
		}
	}

	&.note-list-item-pinned.note-list-item-selected .note-list-item-pinner {
		background: $blue;
		box-shadow: inset 0 0 0 2px lighten($blue, 25%), inset 0 0 0 3px $white;

		&:hover {
			background: darken($blue, 10%);
		}
	}

	.note-list-item-text {
		flex: 1 1 auto;
		overflow: hidden;
		padding: 12px 0;
		border-bottom: 1px solid lighten($gray, 30%);

		&:focus {
			outline: none;
		}
	}

	.note-list-item-title, .note-list-item-excerpt {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	&.note-list-item-selected {
		.note-list-item-title, .note-list-item-excerpt {
			color: $blue;
		}
	}

	.note-list-item-title {
		font-size: 16px;
		font-weight: $bold;
	}

	.note-list-item-excerpt {
		color: $gray;
	}
}
