.note-info {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 100%;
	width: $note-info-width;
	height: 100%;
	border-left: 1px solid lighten($gray, 30%);
	overflow: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	background: white;

	.note-info-panel {
		flex: none;
		padding: 20px;
		border-bottom: 1px solid lighten($gray, 30%);

		&:last-child {
			border: none;
		}
	}

	.note-info-header {
		display: flex;
		flex-direction: row;
		align-items: center;

		h2 {
			flex-grow: 1;
		}

		button {
			padding: 0;
		}
	}

	.note-info-item {
		display: flex;
		align-items: center;
		margin-bottom: 2.25em;

		&:last-child {
			margin: 0;
		}
	}

	.note-info-item-text {
		flex: 1 1 auto;
	}

	.note-info-item-control {
		flex: none;
		width: 44px;
		text-align: right;
	}

	.note-info-detail {
		color: $gray;
	}

	.note-info-public-link {
		flex: 1 0 auto;
	}
}
