.placeholder-note-detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  border-left: 1px solid lighten($gray, 30%);

  .placeholder-note-toolbar {
    display: block;
    height: $toolbar-height;
    border-bottom: 1px solid lighten($gray, 30%);
  }

  .placeholder-note-editor{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      flex: 1;

      .logo {
        width: 140px;
        height: 140px;
        opacity: 0.2;

        path {
          fill: $gray;
        }
      }
  }
}
