.popover {
	position: absolute;
	background: $gray-darkest;
	color: $white;
	border-radius: $border-radius;
	top: 0;
	left: 0;
	opacity: 0.95;
	box-shadow: 0 0px 3px $gray-darkest;

	.arrow {
		content: '';
		z-index: 0;
		position: absolute;
		left: 8px;
		top: -18px;
		width: 18px;
		height: 18px;
		background: $gray-darkest;
		transform: translate(-9px, 16px) rotate(45deg);
		box-shadow: 0 0px 5px $gray-darkest;
	}

	&:focus {
		outline: none;
	}

}

.popover-scroll {
	background: $gray-darkest;
	position: relative;
	z-index: 1;
	height: 100%;
	overflow: hidden;
	border-radius: $border-radius;

	&:focus {
		outline: none;
	}

}