@media print {
  html,
  body,
  .app-layout__note-column {
    overflow: visible;
    height: auto;
  }

  .app,
  .simplenote-app,
  .app-layout__note-column {
    display: block;
    height: auto;
  }

  .navigation,
  .app-layout__source-column,
  .revision-selector,
  .note-toolbar-wrapper,
  .note-detail-wrapper,
  .note-detail-wrapper .note-detail,
  .note-info,
  .tag-field {
    display: none;
  }
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #000;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.2;
    margin-bottom: 0.75rem;
    margin-top: 0;
  }

  p,
  blockquote,
  table,
  ul,
  ol,
  dl {
    margin-bottom: 1.5rem;
    margin-top: 0;
  }

  p:last-child,
  ul:last-child,
  ol:last-child {
    margin-bottom: 0;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1rem;
  }
}

.note-print {
  display: block;
  max-width: 100%;
  width: 100%;
  padding: 5%;
  color: $black;
  overflow: visible;
  white-space: pre-line;
}
