.detail-toolbar > div.backButton {
	display: none;
}

@media only screen and ( max-width: 520px ) {

	body {
		font-size: 16px;
	}

	.detail-toolbar > div.backButton {
		display: flex;
	}

	.detail {
		background: $white;
		transition: $anim-transition;
		transform: translate3d(0, 0, 0);
		@include flex(0, 0, 100%);
	}

	.note-open {

		.detail {
			transform: translate3d(-100%, 0, 0);
			transition-property: transform;
		}

	}

}