.search-field {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 1.75em;
	border-radius: 50px;
	border: 1px solid lighten($gray, 30%);
	padding: 0 8px 1px 15px;

	input {
		width: 100%;
		border: none;
		padding: 0;
		appearance: none;

		&:focus {
			outline: none;
		}
	}

	.icon-cross-small {
		transition: $anim-transition;
		opacity: 0;
		fill: $gray;
	}

	&.has-query .icon-cross-small {
		opacity: 1.0;
	}
}
