.sidebar {
	display: flex;
	flex-flow: row wrap;
	align-content: stretch;
	align-items: stretch;
	flex-shrink: 0;
	width: 0;
	height: 100%;

	.layout-has-note-list.layout-has-no-navigation-bar & {
		width: $note-list-width;

		@media only screen and ( max-width: $medium ) {
			width: $note-list-small-width;
		}
		@media only screen and ( max-width: $single-column ) {
			width: 100%;
		}
	}

	.layout-has-navigation-bar.layout-has-note-list & {
		width: $navigation-bar-width + $note-list-width;

		@media only screen and ( max-width: $medium ) {
			width: $navigation-bar-width + $note-list-small-width;
		}
		@media only screen and ( max-width: $single-column ) {
			width: 100%;
		}
	}

	@media only screen and ( max-width: $single-column ) {
		width: 100%;

		.note-open & {
			opacity: 0;
			pointer-events: none;
		}
	}
}
