.tag-entry {
	border-left: 1px solid lighten($gray, 30%);
}

.tag-editor {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	line-height: 1.75em;
	white-space: nowrap;
	overflow: visible;
	max-height: 120px;
	padding: 8px 48px 8px 12px;

	&:focus {
		outline: none;
	}

	.hidden-tag {
		width: 0;
		height: 0;
		border: 0;
		padding: 0;
		opacity: 0;

		&:focus {
			outline: none;
		}
	}
}

.tag-chip {
	flex: none;
	margin: 2px 12px 3px 0;
	padding: 1px 14px 3px 14px;
	border-radius: 14px;
	line-height: 1.25em;
	white-space: nowrap;
	background: lighten($gray, 30%);
	color: darken($gray, 20%);
	text-decoration: none;
	font-size: 14px;
	-webkit-tap-highlight-color: transparent;

	&.selected,
	&:hover {
		background: $gray;
		color: $white;
	}
}

.theme-dark {
	.tag-chip {
		background: darken($gray, 25%);
		color: lighten($gray, 10%);

		&.selected {
			background: lighten($gray, 10%);
			color: darken($gray, 30%);
		}
	}
}

.tag-input {
	flex: 1 0 auto;

	input {
		width: 100%;
		height: 1.75em;
		min-width: 140px;
		outline: none;
		font: 14px/1.5 $sans;
		color: darken($gray, 20%);
		background: transparent;
	}
}
