@import "variables";

.tag-list {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	overflow: hidden;

	.tag-list-title {
		display: flex;
		flex: none;
		justify-content: space-between;
		align-items: center;
		margin: 0;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		font-size: 86%;
		font-weight: normal;
		color: $color-gray-dark;
	}

	.tag-list-items {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		overflow: auto;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.tag-list-item {
		display: flex;
		flex: none;
		box-sizing: border-box;
		width: 100%;
		padding: 0;
		overflow: hidden;
		white-space: nowrap;
		-webkit-tap-highlight-color: transparent;

		svg {
			vertical-align: middle;
			position: relative;
			top: -0.15em;
		}
	}

		flex: 1 1 auto;
	.tag-list-input {
		display: block;
		box-sizing: border-box;
		width: 100%;
		height: 3em;
		line-height: 3em;
		margin: 0;
		padding: 0;
		border: none;
		text-overflow: ellipsis;
		font-size: 100%;
		background: none;
		cursor: pointer;
		appearance: none;

		&:focus {
			outline: none;
		}
	}
}
