
.theme-light {
	background-color: $white;
	color: $gray-darkest;

	.color-bg {
		background-color: $white;
	}
	.color-bg-lighter {
		background-color: lighten($gray, 30%);
	}
	.color-fg {
		color: $gray-darkest;
	}
	.color-fg-dim {
		color: darken($gray, 20%);
	}
	.color-border {
		border-color: lighten($gray, 30%);
	}

	.tag-chip.selected {
		background: $gray;
	}
}

.theme-dark {
	background-color: $gray-darkest;
	color: $gray;

	.color-bg {
		background-color: $gray-darkest;
	}
	.color-bg-lighter {
		background-color: darken($gray, 20%);
	}
	.color-fg {
		color: lighten($gray, 30%);
	}
	.color-fg-dim {
		color: lighten($gray, 20%);
	}
	.color-border {
		border-color: darken($gray, 25%);
	}

	::-webkit-scrollbar-thumb {
		background-color: darken($gray, 20%);
		border-color: $gray-darkest;
	}
	::-webkit-scrollbar-thumb:hover {
		background-color: darken($gray, 10%);
	}
	::-webkit-scrollbar-thumb:active {
		background-color: $gray;
	}

	input, textarea {
		border-color: darken($gray, 25%);
		color: $gray-lightest;
		background-color: transparent;
	}

	input::placeholder {
		color: $gray;
	}
	
	.checkbox-control-base {
		border-color: darken($gray, 20%);
	}

	.tag-field input {
		background: transparent;

		&::placeholder {
			color: lighten($gray, 10%);
		}
	}
	
	.dialogs-overlay {
		background: rgba($gray-darkest, 0.75);
	}
	
	.note-list-item {
		&:hover .note-list-item-pinner {
			box-shadow: inset 0 0 0 2px darken($gray, 30%), inset 0 0 0 3px $gray-darkest;

			&:hover {
				background: darken($gray, 10%);
			}
		}

		&.note-list-item-pinned .note-list-item-pinner {
			background: $white;
			box-shadow: inset 0 0 0 2px darken($gray, 10%), inset 0 0 0 3px $gray-darkest;

			&:hover {
				background: darken($gray, 30%);
			}
		}

		&.note-list-item-pinned.note-list-item-selected .note-list-item-pinner {
			background: $blue;
			box-shadow: inset 0 0 0 2px darken($blue, 10%), inset 0 0 0 3px $gray-darkest;

			&:hover {
				background: lighten($blue, 10%);
			}
		}
	}
	
	.note-detail-markdown {
		hr {
			border-color: darken($gray, 20%);
		}
		
		blockquote {
			border-color: darken($gray, 20%);
		}
		
		code {
			background: darken($gray, 30%);
		}
		pre {
			border-color: darken($gray, 20%);
		}
		pre code {
			color: $gray;
			background: transparent;	
		}
	}
}
