
.theme-light {
	background-color: $white;
	color: $gray-darkest;

	.color-bg {
		background-color: $white;
	}
	.color-bg-lighter {
		background-color: lighten($gray, 30%);
	}
	.color-fg {
		color: $gray-darkest;
	}
	.color-fg-dim {
		color: darken($gray, 20%);
	}
	.color-border {
		border-color: lighten($gray, 30%);
	}

	.tag-chip.selected {
		background: $gray;
	}
}

.theme-dark {
	background-color: $gray-darkest;
	color: $gray;

	.color-bg {
		background-color: $gray-darkest;
	}
	.color-bg-lighter {
		background-color: darken($gray, 20%);
	}
	.color-fg {
		color: lighten($gray, 30%);
	}
	.color-fg-dim {
		color: lighten($gray, 20%);
	}
	.color-border {
		border-color: darken($gray, 25%);
	}

	::-webkit-scrollbar-thumb {
		background-color: darken($gray, 20%);
		border-color: $gray-darkest;
	}
	::-webkit-scrollbar-thumb:hover {
		background-color: darken($gray, 10%);
	}
	::-webkit-scrollbar-thumb:active {
		background-color: $gray;
	}

	input, textarea {
		border-color: darken($gray, 25%);
		color: $gray-lightest;
		background-color: transparent;
	}

	input::placeholder {
		color: $gray;
	}

	.note-list-item.note-list-item-pinned .note-list-item-pinner {
		background: darken($gray, 10%);
	}

	.tag-field input {
		background: transparent;

		&::placeholder {
			color: lighten($gray, 10%);
		}
	}
}
