.theme-light {
  background-color: $white;
  color: $gray-darkest;

  .theme-color-bg {
    background-color: $white;
  }
  .theme-color-bg-lighter {
    background-color: lighten($gray, 30%);
  }
  .theme-color-fg {
    color: $gray-darkest;
  }
  .theme-color-fg-dim {
    color: darken($gray, 20%);
  }
  .theme-color-border {
    border-color: lighten($gray, 40%);
  }
  .search-field {
    border-color: lighten($gray, 40%);
  }
}

.theme-dark {
  background-color: $gray-darkest;
  color: $studio-gray-50;

  .theme-color-bg {
    background-color: $gray-darkest;
  }
  .theme-color-bg-lighter {
    background-color: darken($gray, 20%);
  }
  .theme-color-fg {
    color: lighten($gray, 45%);
  }
  .theme-color-fg-dim {
    color: lighten($gray, 9.9%);
  }
  .theme-color-border {
    border-color: darken($gray, 30%);
  }

  .search-field {
    border-color: darken($gray, 30%);
  }

  ::-webkit-scrollbar-thumb {
    background-color: darken($gray, 20%);
    border-color: $gray-darkest;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: darken($gray, 10%);
  }
  ::-webkit-scrollbar-thumb:active {
    background-color: $studio-gray-50;
  }

  .button-borderless {
    &[disabled],
    &:disabled {
      svg[class^='icon-'] {
        fill: darken($gray, 30%);
      }
    }
  }

  input,
  textarea {
    border-color: darken($gray, 25%);
    background-color: transparent;
  }

  .transparent-input::placeholder {
    color: darken($gray, 10%);
  }

  .checkbox-control-base {
    border-color: darken($gray, 20%);
  }

  .tag-field input {
    background: transparent;

    &::placeholder {
      color: lighten($gray, 10%);
    }
  }

  .settings-group p {
    color: lighten($gray, 45%);
  }

  .tab-panels__tab-list li {
    color: lighten($gray, 10%);

    &.is-active {
      color: $studio-blue-50;
    }
  }

  .note-list-item {
    &.note-list-item-pinned .note-list-item-pinner {
      background: $white;
      box-shadow: inset 0 0 0 2px darken($gray, 10%),
        inset 0 0 0 3px $gray-darkest;

      &:hover {
        background: darken($gray, 30%);
      }
    }

    &.note-list-item-selected {
      background: #2c3338;
    }

    .note-list-item-excerpt {
      color: white;
    }
  }
  &.note-list-item-selected .note-list-item-excerpt .note-list-item-pinner {
    box-shadow: inset 0 0 0 2px $gray-darkest, inset 0 0 0 3px $gray-darkest;

    &:hover {
      background: $gray-darkest;
    }
  }

  .note-detail-markdown {
    @import '../node_modules/highlight.js/styles/solarized-dark.css';

    hr {
      border-color: darken($gray, 20%);
    }

    blockquote {
      border-color: darken($gray, 20%);
    }

    code {
      background: darken($gray, 30%);
    }
    pre {
      border-color: darken($gray, 20%);
    }
    pre code {
      color: $studio-gray-50;
      background: transparent;
    }
    table {
      th,
      td {
        border-color: darken($gray, 20%);
      }
      tr:nth-child(2n) {
        background-color: darken($gray, 33%);
      }
    }
  }
}
