.top-bar {
	position: absolute;
	top: 0;
	left: 0;
	width: $navigation-bar-width + $note-list-small-width;
	height: $toolbar-height;
	padding: 20px 15px;
	border-bottom: 1px solid lighten($gray, 30%);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex: none;

	.layout-has-note-list &,
	.layout-has-navigation-bar & {
		position: relative;
		width: 100%;
	}

	@media only screen and ( max-width: $single-column ) {
		display: none;
	}

	.button {
		flex: none;
		padding: 0;
		width: 32px;
		height: 32px;
		margin-right: 14px;
	}
}
