@mixin flexbox($justify: center, $align: center, $direction: row, $wrap: nowrap) {
	// CSS Flexbox container properties
	display: flex;
	display: -webkit-flex;
	
	flex-direction: $direction;
	-webkit-flex-direction: $direction;
	
	flex-wrap: $wrap;
	-webkit-flex-wrap: $wrap;
	
	justify-content: $justify;
	-webkit-justify-content: $justify;
	
	align-items: $align;
	-webkit-align-items: $align;
	
}

@mixin flex($grow:0, $shrink:1, $basis:auto, $align-self: auto) {
	flex-grow: $grow;
	-webkit-flex-grow: $grow;
	flex-shrink: $shrink;
	-webkit-flex-shrink: $shrink;
	flex-basis: $basis;
	-webkit-flex-basis: $basis;
	align-self: $align-self;
	-webkit-align-self: $align-self;
}
