{
  "env": {

  },
  "presets": [
    [ "env", { "targets": { "electron": "1.7" } } ],
    "react"
  ],
  "plugins": [
    "babel-plugin-transform-class-properties",
    "babel-plugin-transform-object-rest-spread",
    "babel-plugin-transform-async-to-generator"
  ]
}
