.gitignore
dist

# ignore files with changes from prettier 2 -> 3
# TODO: remove these and commit prettier changes in a new PR...
# ... if updating eslint and typescript don't sort it out somehow
lib/analytics/tracks.ts
lib/app-layout/index.tsx
lib/app-layout/style.scss
lib/components/note-preview/index.tsx
lib/connection-status/index.tsx
lib/dialogs/import/dropzone/style.scss
lib/error-boundary/index.tsx
lib/note-content-editor.tsx
lib/note-editor/index.tsx
lib/note-list/index.tsx
lib/search/index.ts
lib/state/action-types.ts
lib/state/analytics/actions.ts
lib/state/analytics/middleware.ts
lib/state/browser/index.ts
lib/state/data/middleware.ts
lib/state/data/reducer.ts
lib/state/index.ts
lib/state/persistence.ts
lib/state/settings/actions.ts
lib/state/simperium/functions/preferences-bucket.ts
lib/state/simperium/middleware.ts
lib/state/simperium/reducer.ts
lib/state/ui/actions.ts
lib/state/ui/middleware.ts
lib/state/ui/reducer.ts
lib/tag-list/index.tsx
lib/types.ts
lib/utils/test/is-email-tag.ts
