{
  "defaultSeverity": "warning",
  "extends": ["stylelint-config-standard", "stylelint-config-standard-scss"],
  "plugins": ["stylelint-prettier"],
  "rules": {
    "prettier/prettier": true,
    "no-descending-specificity": null
  }
}
