{
  "defaultSeverity": "warning",
  "extends": ["stylelint-config-standard", "stylelint-config-standard-scss"],
  "plugins": ["stylelint-prettier"],
  "rules": {
    "alpha-value-notation": null,
    "color-function-notation": "legacy",
    "declaration-property-value-no-unknown": null,
    "prettier/prettier": true,
    "no-descending-specificity": null,
    "selector-class-pattern": [
      "^([a-z][a-z0-9]*)(-[a-z0-9]+)*((__([a-z][a-z0-9]*)(-[a-z0-9]+)*)?(--([a-z][a-z0-9]*)(-[a-z0-9]+)*)?)$",
      {
        "message": "Expected BEM naming convention for class."
      }
    ]
  }
}
