environment:
  CSC_ENC_KEY: 
    secure: ef2yQX3A9dZPQzS6r7oY7pUtzK/ICiUUDZZsh/K7eT59a4BVdxqCfIZU812MmqQHK/iC4cYLdTW+tWHrq9bJquzQgHGjgB0cTBwS9KUjyOg=
  CSC_KEY_PASSWORD:
    secure: Sz53shy7P4kPzBKa9shHTw==
  CSC_LINK: .\resources\certificates\win.p12
  GH_TOKEN:
    secure: m2UKPC/0BUlPZ63dLNIbuoFRNW448BzVrlW6TnjtoLtXCqY+lz9+aKTP4miCwQEy

image: Visual Studio 2017

install:
  - ps: Install-Product node 10
  - cinst make
  - npm install

before_build:
  - openssl aes-256-cbc -d -in .\resources\certificates\win.p12.enc -out %CSC_LINK% -k "%CSC_ENC_KEY%"
  - openssl aes-256-cbc -d -in .\resources\secrets\config.json.enc -out .\config.json -k "%CSC_ENC_KEY%"

build_script:
  - make build
  - make package-win32

artifacts:
  - path: release\*.exe
  - path: release\*.appx
  - path: release\*.yml

cache:
  - node_modules
  - '%APPDATA%\npm-cache'
  - C:\ProgramData\chocolatey\bin -> appveyor.yml
  - C:\ProgramData\chocolatey\lib -> appveyor.yml