environment:
  CSC_ENC_KEY:
    secure: ef2yQX3A9dZPQzS6r7oY7pUtzK/ICiUUDZZsh/K7eT59a4BVdxqCfIZU812MmqQHK/iC4cYLdTW+tWHrq9bJquzQgHGjgB0cTBwS9KUjyOg=
  CSC_KEY_PASSWORD:
    secure: Sz53shy7P4kPzBKa9shHTw==
  GH_TOKEN:
    secure: rgCznyrNnbERL0+MFoT/48TazSzqodduLapcquSs2D3hidBCwjbaOUkE9wXIi3WG
  APPVEYOR_RDP_PASSWORD:
    secure: G+yYok+QzBzcrkdhtx+UC4vjyU0kSlWRQ+l+iooLV7o=
  CSC_LINK: .\resources\certificates\win.p12

image: Visual Studio 2017

configuration:
  - Default
  - AppX-WindowsStore
  - AppX-Testing

install:
  - ps: Install-Product node 12
  - cinst make
  - npm ci
  - patch -p1 < ./resources/macos/macPackager-patch.diff
  - patch -p1 < ./resources/macos/scheme-patch.diff

for:
  # default build / .exe / signed
  - matrix:
      only:
        - configuration: Default
    before_build:
      - openssl aes-256-cbc -d -in .\resources\certificates\win.p12.enc -out %CSC_LINK% -k "%CSC_ENC_KEY%"
      - openssl aes-256-cbc -d -in .\resources\secrets\config.json.enc -out .\config.json -k "%CSC_ENC_KEY%"
    build_script:
      - make build
      - make test
      - npx electron-builder --win -p onTag

  # Windows Store build / .appx / unsigned
  - matrix:
      only:
        - configuration: AppX-WindowsStore
    before_build:
      - openssl aes-256-cbc -d -in .\resources\secrets\config.json.enc -out .\config.json -k "%CSC_ENC_KEY%"
    skip_non_tags: true
    environment:
      CSC_LINK: ''
    build_script:
      - make build
      - make test
      - npx electron-builder --win --config=./electron-builder-appx.json -p onTag

  # Windows Store test build / .appx / signed
  - matrix:
      only:
        - configuration: AppX-Testing
    before_build:
      - openssl aes-256-cbc -d -in .\resources\certificates\win.p12.enc -out %CSC_LINK% -k "%CSC_ENC_KEY%"
      - openssl aes-256-cbc -d -in .\resources\secrets\config.json.enc -out .\config.json -k "%CSC_ENC_KEY%"
    build_script:
      - make build
      - make test
      - npx electron-builder --win --config=./electron-builder-appx.json -p never

artifacts:
  - path: release\*.exe
  - path: release\*.appx
  - path: release\*.yml

cache:
  - node_modules
  - '%APPDATA%\npm-cache'
  - C:\ProgramData\chocolatey\bin -> appveyor.yml
  - C:\ProgramData\chocolatey\lib -> appveyor.yml
# RDP Debug mode
# on_finish:
#   - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
