doctype html
html
  head
    title Simplenote
    meta(name="viewport" content="width=device-width, maximum-scale=1")
    link(rel="icon" href="/favicon.ico")
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,200,300,400,400italic")
    script(type="text/javascript")!="var config=" + JSON.stringify(config) + ";"
  body
