doctype html
html
  head
    meta(charset="utf-8")
    title Simplenote
    meta(name="viewport" content="width=device-width, maximum-scale=1")
    link(rel="icon" href="/favicon.ico")
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600,600italic,700,700italic")
    script(type="text/javascript")!="var config=" + JSON.stringify(config) + ";"
  body
    script(type="text/javascript" charset="utf-8" src="app.js")
