doctype html
html
  head
    title Simplenote
    link(rel="stylesheet" type="text/css" href="app.css")
    script(type="text/javascript")!="var config=" + JSON.stringify(config) + ";"
  body
    script(type="text/javascript" charset="utf-8" src="app.js")
