version: 2

references:
  npm_restore_cache: &npm_restore_cache
    restore_cache:
      name: Restore npm cache
      keys:
        - v2-npm-{{ arch }}-{{ checksum "package-lock.json" }}
  npm_save_cache: &npm_save_cache
    save_cache:
      name: Save npm cache
      key: v2-npm-{{ arch }}-{{ checksum "package-lock.json" }}
      paths:
        - ~/.npm
  app_cache_paths: &app_cache_paths
    - dist
    - desktop
    - resources
    - config.json
  install_linux_deps: &install_linux_deps
    run:
      name: Install linux dev dependencies
      command: |
              sudo dpkg --add-architecture i386
              sudo apt update
              sudo apt -y install libxkbfile-dev libxkbfile-dev:i386 libx11-dev libx11-dev:i386 libxss-dev gcc-multilib g++-multilib rpm

jobs:
  build:
    docker:
      - image: circleci/node:10.4.1
    shell: /bin/bash --login
    working_directory: ~/simplenote
    steps:
      - *install_linux_deps
      - checkout
      - run:
          name: Decrypt assets
          command: |
                  openssl aes-256-cbc -d -in ./resources/certificates/mac.p12.enc -out ./resources/certificates/mac.p12 -k ${SECRETS_ENCRYPTION_KEY}
                  openssl aes-256-cbc -d -in ./resources/secrets/config.json.enc -out ./config.json -k ${SECRETS_ENCRYPTION_KEY}
      - *npm_restore_cache
      - run: npm ci
      - run: make build
      - run: make test
      - persist_to_workspace:
          root: ~/simplenote
          paths: *app_cache_paths

  linux:
    docker:
      - image: circleci/node:10.4.1
    working_directory: ~/simplenote
    steps:
      - checkout
      - attach_workspace:
          at: ~/simplenote
      - *npm_restore_cache
      - *install_linux_deps
      - run: npm ci
      - *npm_save_cache
      - run: make package-linux SKIP_BUILD=true
      - run:
          name: Release cleanup
          command: |
                  set +e
                  rm -rf release/github
                  rm -rf release/linux-unpacked
      - persist_to_workspace:
          root: ~/simplenote
          paths:
            - release

  mac:
    macos:
      xcode: "9.4.1"
    shell: /bin/bash --login
    working_directory: /Users/distiller/simplenote
    steps:
      - checkout
      - attach_workspace:
          at: /Users/distiller/simplenote
      - *npm_restore_cache
      - run: npm ci
      - *npm_save_cache
      - run:
          name: Build Mac
          environment:
            CSC_LINK: resources/certificates/mac.p12
            CSC_FOR_PULL_REQUEST: true
          command: |
                  make package-osx SKIP_BUILD=true
      - run: 
          name: Release cleanup
          command: |
                  set +e
                  rm -rf release/github
                  rm -rf release/mac
      - persist_to_workspace:
          root: /Users/distiller/simplenote
          paths:
            - release

  artifacts:
    docker:
      - image: buildpack-deps:trusty
    working_directory: simplenote
    steps:
      - attach_workspace:
          at: /tmp/simplenote
      - store_artifacts:
          path: /tmp/simplenote/release


workflows:
  version: 2
  simplenote:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - linux:
          requires:
          - build
          filters:
            tags:
              only: /.*/
      - mac:
          requires:
          - build
          filters:
            tags:
              only: /.*/
      - artifacts:
          requires:
            - linux
            - mac
          filters:
            tags:
              only: /.*/
