<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="app-build-reference" content="<%= htmlWebpackPlugin.options[ 'build-reference' ] %>">
    <meta name="node-version" content="<%= htmlWebpackPlugin.options[ 'node-version' ] %>">
    <meta name="build-platform" content="<%= htmlWebpackPlugin.options[ 'build-platform' ] %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
